# Node.js (frontend)
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/.vite/
frontend/dist/
frontend/build/

# Python (backend)
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.egg-info/
*.env
backend/.venv
backend/__pycache__/
backend/*.pyc

# Common
.DS_Store
.env
*.env.*
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
